@font-face {
    font-family: 'Bungee-Spice';
    src: url("../../assets/fonts/BungeeSpice-Regular.ttf")
}

@font-face {
    font-family: 'Bubblegum-Sans';
    src: url("../../assets/fonts/BubblegumSans-Regular.ttf")
}
