@font-face {
    font-family: 'Bungee-Spice'; /* Define a custom font family name */
    src: url("../../assets/fonts/BungeeSpice-Regular.ttf"); /* Specify the font file's path */
}

@font-face {
    font-family: 'Bubblegum-Sans'; /* Define another custom font family name */
    src: url("../../assets/fonts/BubblegumSans-Regular.ttf"); /* Specify the font file's path */
}

