// Primary Colors
$family-fun-purple: purple;
$family-fun-orange: orange;
$family-fun-blue: blue;
$family-fun-green: green;
$family-fun-orangered: orangered;
// Secondary Colors
$color-button-blue: #007bff;
$color-hover-blue: #0056b3;
$color-underline-yellow: yellow;
$color-pay-red: red;
