@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/mixins" as *;

* {
    margin: 0;
}

.footer {
    display: flex;
    justify-content: center;
    background-image: url(../../assets/images/Header.jpg);
    height: 10rem;
    margin: 0;

    &-content {
        font-family: "Bungee-Spice";
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-self: center;
    }
}