@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/mixins" as *;


.front-container {
  height: 50rem;
  background-image: url(../../assets/images/Home_Mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  @include tablet {
    height: 50rem;
    background-image: url(../../assets/images/Home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

.home-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bubblegum-Sans";
}

.title {
  font-size: 4rem;
  margin: 1rem 0;
  color: orange;
}

.image {
  max-width: 75vw;
  background-position: center;
  margin-bottom: 1rem;
  max-height: 31rem;
  animation: rotateImage .5s ease-in 1;
  transform-origin: center;
  @keyframes rotateImage {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.description {
  margin: 0 2rem;
  font-size: 1rem;
  color: purple;
  @include tablet {
    font-size: .95rem;
  }
  @include desktop {
    font-size: 1rem;
  }
}