// Import fonts and mixins
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/mixins" as *;

// Reset margins for all elements and remove text decoration for anchor elements
* {
    margin: 0;
}
a {
    text-decoration: none;
}

// Styles for the main shop container
.shop {
    background: url(../../assets/images/Shop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// Styles for the shopping cart
.cart {
    border: 1px solid blue;
    border-radius: 1rem;
    padding: 1.3rem;
    margin-top: 1.3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    background: url(../../assets/images/Shop_Mobile.jpg);
    text-align: center;
    font-family: "Bubblegum-Sans";
    margin: 0 auto;

    // Styles for the total price section within the cart
    &-total {
        margin: 1.3rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & h3 {
            font-size: 1.2rem;
            margin: 0;
        }

        & p {
            font-weight: bold;
        }
    }

    // Styles for buttons within the cart
    & button {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;

        & img {
            width: 40px;
            height: auto;
            margin-left: 16rem;
        }
    }

    // Styles for the cart summary section
    &-summary {
        cursor: pointer;
        display: flex;
        align-items: center;
        color: #0056b3;
        justify-content: right;
        padding: 2rem;
    }

    & h2 {
        font-size: 1.2rem;
        margin: 0 0 10px 0;
        font-family: "Bungee-Spice";
    }

    // Styles for individual cart items
    &-item {
        display: flex;
        align-items: center;
        margin: 10px 0;

        // Styles for details of each cart item
        &-details {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            & h3 {
                font-size: 1rem;
                margin: 0;
            }

            & p {
                font-size: 0.9rem;
                margin: 0;
            }
        }
    }
}

// Styles for the payment button
.pay-button {
    font-family: "Bubblegum-Sans";
    color: red;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: -2.6rem;
    padding: 0.5rem 1rem;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
}

// Hover effect for the payment button
.pay-button:hover {
    background-color: #0056b3;
}

// Styles for the shop items container
.shop-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1.3rem;
    justify-content: space-evenly;
    margin-top: 1.3rem;
    padding-bottom: 1.3rem;
    font-family: "Bubblegum-Sans";
}

// Styles for individual shop items
.item {
    text-align: center;
    border: .1rem solid blue;
    border-radius: 1rem;
    padding: .8rem;
    background-color: #0056b3;
    max-width: 200px;

    & h3 {
        font-size: 1rem;
        margin: .6rem 0;
    }

    & img {
        width: 10rem;
        height: 10rem;
    }

    & p {
        font-size: 0.9rem;
        margin: 0;
    }

    // Styles for the "Add to Cart" button
    & button {
        background-color: #007bff;
        font-family: "Bungee-Spice";
        border: none;
        border-radius: 1rem;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 0.9rem;

        // Hover effect for the "Add to Cart" button
        &:hover {
            background-color: green;
        }
    }
}
